{% extends "base.html" %}
{% block content %}
    <h1>{{ name|capitalize }}</h1>
    <p>Busca sobre lo que te interesa en el BOE</p>
    <script>
        $(function() {
            $("input[name='from']").datepicker();
            $("input[name='to']").datepicker();
            $("input[type='submit']").click(function() {
                $(this).attr("value", "Buscando...").attr("disabled", "").parent().submit();
                            });
        });
    </script>
    <form method="post">
        <p><label>Búsqueda:</label><input type="text" name="q"></p>
        <p><label>Desde:</label><input type="text" name="from"></p>
        <p><label>Hasta:</label><input type="text" name="to"></p>
        <input type="submit" value="Buscar">
    </form>
    <div id="content">
        <ul>
        {% if query %}
            {% if query.q %}
                <p>Resultados para {{ query.q }}
                    {% if query.from_date %}
                        desde {{ query.from_date }} hasta {{ query.to_date }}
                    {% endif %}
                </p>
            {% elif query.from_date %}
                <p>Resultados desde {{ query.from_date }} hasta {{ query.to_date }}</p>
            {% endif %}
        {% endif %}
        {% for link in links %}
            <li class=>
                <strong>{{ link.description }}</strong>: <a href="{{ link.link }}" target="blank">{{ link.title }}</a> - <a href="{{ link.guid }}">[PDF]</a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
