{% extends "base.html" %}
{% block content %}
    <h2>OpenBOE</h2>

    <p>Openboe intenta cubrir una necesidad, facilitar la búsqueda
    en datos actualmente provistos de una forma <em>bruta</em>
    facilitando así a la sociedad el acceso a esta información que por ley debe estar accesible.</p>

    <h2>AbreDatos</h2>

    <p>La información puede ser filtrada para facilitar el acceso a la información tanto del BOE como del BORME.</p>

    <h2>OpenBOE es Software Libre</h2>

    <p>Si quieres contribuir al proyecto con tus ideas, si crees que falta algo y quieres sugerir su implementación o eres desarrollador y quieres participar en el proyecto, puedes hacerlo en <a href="https://github.com/javaguirre/openboe/issues">el repositorio del proyecto</a>.</p>
{% endblock %}
