<div id="openboeapp">
    <script>
        $(function() {
            $("input[name='from']").datepicker();
            $("input[name='to']").datepicker();
            $("input[type='submit']").click(function() {
                $(this).attr("value", "Buscando...").attr("disabled", "").parent().submit();
            });
        });
    </script>
    <form action="" id="search-form">
        <p><label>Búsqueda:</label><input type="text" name="q"></p>
        <p><label>Desde:</label><input type="text" name="from"></p>
        <p><label>Hasta:</label><input type="text" name="to"></p>
        <input type="button" value="Buscar" id="search-button">
    </form>
    <h1 class="section-header"></h1>
    <p>Busca sobre lo que te interesa en el BOE</p>
    <div id="content">
        <!--{% if query %}-->
        <!--{% if query.q %}-->
        <!--<p>Resultados para <strong>{{ query.q }}</strong>-->
        <!--{% if query.from_date %}-->
        <!--desde {{ query.from_date }} hasta {{ query.to_date }}-->
        <!--{% endif %}-->
        <!--</p>-->
        <!--{% elif query.from_date %}-->
        <!--<p>Resultados desde {{ query.from_date }} hasta {{ query.to_date }}</p>-->
        <!--{% endif %}-->
        <!--{% endif %}-->
        <div class="bs-docs-grid">
            <div id="link-list"></div>
        </div>
    </div>
</div>
